{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "blockBindings": true,
    "arrowFunctions": true,
    "jsx": true,
  },
  "rules": {
    "no-unused-vars": 2,
    "semi": [2, "never"],
    "quotes": [2, "single"]
  },
  "env": {
    "node": true,
    "browser": true
  }
}
