{
  "plugins": [ "react" ],
  "settings": {
    "react": {
      "pragma": "React" // Pragma to use, default to "React"
    }
  },
  "extends": [
   "eslint:recommended",
   "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0,
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "no-shadow": 2,
    "react/prop-types": 0,
    "react/display-name": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
